/*
* Style for quiz app index.html
*/


/* Responsive Typography and Layout
––––––––––––––––––––––––––––––––––––––––––––––––––*/
* {
	box-sizing: border-box;
}

html { 
	font-size: calc( 8px + (16 - 8) * (100vw - 320px) / (2560 - 320) );
}

button, input { 
	font-size: inherit;
	font-family: inherit; 
}

html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	left: 0; 
	top: 0;
	font-family: 'Montserrat', sans-serif; 
	color:#215d38; 
}

body {
	height: 100vh;
	max-height: -moz-available;          /* WebKit-based browsers will ignore this. */
	max-height: -webkit-fill-available;
	min-height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
	max-height: fill-available;
}


/* Header Styles
––––––––––––––––––––––––––––––––––––––––––––––––––*/
header {
	display:flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #215d38;
	height: 10%;
	padding: 1rem;
	color: #e9eee8;
}

.logo {
	margin: 0;
	font-weight: 900 !important;
}

.logo a {
	text-decoration: none;
	color: inherit;
}

.score {
	margin-left: 2rem;
}

.state {
	margin-left: auto;
}


/* Main Styles
––––––––––––––––––––––––––––––––––––––––––––––––––*/
main {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	text-align: center;
	background: linear-gradient(rgba(233, 238, 232, 0.85), rgba(233, 238, 232, 0.85)), url(usdollar100.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;	
}

main h1, h2, h3 {
	line-height: 1.5;
	text-align: center;
	font-weight: 700;
}

.choice-button {
	width: 100%;
}

.control {
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
}

fieldset {
	border: 0px;
}

button {
	width: 100%;
	padding: 1rem 2rem;
	color: #e9eee8;
	text-decoration: none;
	background: #ec1c2d;
	border: 0px !important;
	transition: all 0.4s ease 0s;
	border-radius: 5px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.00rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

button:hover {
	color: #e9eee8 !important;
	background: #215d38;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}


/* Footer Styles
––––––––––––––––––––––––––––––––––––––––––––––––––*/
footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	min-height: 10%;
	color: #e9eee8;
	align-items: center;
	font-size: smaller;
	background-color: #215d38;
}

address img {
	width: 100%;
  max-width: calc(1rem);
	height: auto;
	filter: invert(1);
	margin-left: .5rem;
}

address a {
	color: #e9eee8;
	vertical-align:top;
	text-decoration: none;
}

@media screen and (min-height: 450px) {
	html {
		font-size: calc( 10px + (24 - 10) * (100vw - 320px) / (2560 - 320) );
	}
	.control {
		margin-bottom: 2rem;
	}
}




