/*
* Style for quiz app index.html
*/


/* Root Variables
––––––––––––––––––––––––––––––––––––––––––––––––––*/
:root {
	--col-primary: #0984e3;
	--col-secondary: #dfe6e9;
	--col-tertiary: #ff7675;
	--col-dark: #2d3436;
	--col-light: white;
	--col-warning: #ffeaa7;
}


/* Responsive Typography and Layout
––––––––––––––––––––––––––––––––––––––––––––––––––*/
/*
	Based on Chad Ostrowski's implementation here:
	https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/
*/
* {
	box-sizing: border-box;
}

html { 
	/*font-size: calc(.5em + 1vw);*/
	font-size: calc( 10px + (24 - 10) * (100vw - 320px) / (2560 - 320) );
}

button, input { 
	font-size: inherit; 
}

html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
	padding: 0; 
	left: 0; 
	top: 0;
	font-family: 'Montserrat', sans-serif; 
	color: var(--col-dark); 
}


/* Header Styles
––––––––––––––––––––––––––––––––––––––––––––––––––*/
header {
	display:flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #2d3436;
	height: 10vh;
	padding: 1rem;
	color: var(--col-light);
}

#logo {
	margin-bottom: 1rem;
	font-weight: 900 !important;
}

#quiz-score {
	margin-left: auto;
}

#quiz-state {
	margin-left: 2rem;
}

/* Main Styles
––––––––––––––––––––––––––––––––––––––––––––––––––*/
main {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

main h1, h2, h3 {
	line-height: 1.5;
	text-align: center;
	font-weight: 700;
}

legend {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	text-align: center;
}

.control {
	margin-bottom: 2rem;
}

input[type=radio] {
	margin-top: -1px;
  vertical-align: middle;
	float: left;;
}

input[type="radio"]:checked+label {
	background-color: #b2bec3;
	}

fieldset {
	border: 0px;
}

label  {
	font-size: 1.25rem;
	font-weight: 400;
	margin-left: 30px;
	display: block;
}

button {
	width: 100%;
	padding: 1rem 2rem;
	color: white;
	text-decoration: none;
	background: #636e72;
	border: 0px !important;
	transition: all 0.4s ease 0s;
	border-radius: 5px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.00rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

button:hover {
	color: var(--col-light) !important;
	background: #2d3436;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

/* Footer Styles
––––––––––––––––––––––––––––––––––––––––––––––––––*/
footer {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	height: 10vh;
	background-color: #2d3436;
	color: var(--col-light);
	align-items: center;
	font-size: smaller;
}

address img {
	width: 100%;
  max-width: calc(1rem);
	height: auto;
	filter: invert(1);
	margin-left: .5rem;
}

address a {
	color: var(--col-light);
	vertical-align:top;
	text-decoration: none;
}




